* {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
.main {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    background: #222121;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main .title {
    padding-top: 30px;
    text-align: center;
    color: #FFF;
}
.main .header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .header .livros {
    margin-top: 50px;
    width: 180px;
    height: 30px;
    background: #FFF;
    color: #222121;
    font-size: 20px;
    border: 1px solid #F0f0f0;
    border-radius: 10px;
    text-align: center;
}
.main .header .capitulo {
    margin-top: 50px;
    margin-left: 20px;
    width: 60px;
    height: 30px;
    background: #FFF;
    color: #222121;
    font-size: 20px;
    border: 1px solid #F0f0f0;
    border-radius: 10px;
    text-align: center;
}
.main .header .btn-pesquisar {
    margin-top: 50px;
    margin-left: 30px;
    width: 120px;
    height: 30px;
    background: #FFF;
    color: #222121;
    font-size: 20px;
    border: 1px solid #F0f0f0;
    border-radius: 10px;
    cursor: pointer;
}
.main .header .btn-pesquisar:hover {
    background: #222121;
    color: #fff;
}
.texto {
    width: 80%;
    height: auto;
    letter-spacing: 1px;
    font-size: 18px;
    color: #FFF;
    font-family: 'Courier New', Courier, monospace  ;
    margin-top: 50px;
    margin-bottom: 50px;
    background: #222121;
}